body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  border-radius: 2rem;
  animation: shake 0.3s;
  background-color: #fff;
  box-shadow: 0 0 0 0 rgb(247, 241, 241), 2rem 2rem 30px rgb(249, 249, 250);
  transition: box-shadow 1s;
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

img:hover {
  background-image: linear-gradient(170deg, rgba(white, 0.3), rgba(white, 0));
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("../assets/lading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.showcase:hover .content {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  height: 200px;
  width: 200px;
}

.content .title {
  font-family: "Concert One", cursive;
  width: 100%;
  font-size: 2.2rem;
  margin-top: 3rem;
  color: black;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
}
